---
title: Archive
permalink: /archive.html
---

<ul id="posts">

  {% for post in site.posts %}
    {% if post.tags contains 'ARCHIVE' %}

  <li class="post">
    <h2>
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h2>
    <time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">
      {{ post.date | date_to_string }}
      {% if post.tags != empty %}
        &nbsp;•&nbsp; {{ post.tags | join: ", " }}
      {% endif %}
    </time>
    <p>
      {{ post.content | strip_html | truncatewords:50 }}
    </p>
  </li>

    {% endif %}
  {% endfor %}

</ul>
