/* -- General Layout -- */

/* Main content */

.fixed {
  position: fixed;
  @media (min-width: 940px) {
    position: static;
  }
}

#container {
  margin:0 auto;
  max-width: 730px;
  padding: 0.5rem 1.5rem;
}

header {
  padding: 80px 0;
  margin-bottom: 2rem;
  position: relative;
  background-image: url("/images/header-background.jpg");
  background-size: cover;
  background-position: center;

  #title {
    display: block;
    text-decoration: none;
    text-align: center;
    color: $background-color;
    &:focus,
    &:hover {
      color: darken($background-color, 10%);
    }
    &:after {
      display: block;
      content: '';
      width: 5rem;
      height: 1px;
      margin: 10px auto;
      background-color: $background-color;
    }
  }
}

#header-page-list {
  margin: 0;
  text-align: center;

  a {
    color: darken($background-color, 10%);
    &:focus,
    &:hover {
      color: darken($background-color, 20%)
    }
  }
}

/* Posts */

#posts {
  li {
    list-style-type: none;
  }
}

#post-page {
  margin-bottom: 1.5em;
  @media (min-width: 940px) {
      margin-bottom: 1.3334em;
    }
}

.post+.post:before {
    display: block;
    content: '';
    width: 5rem;
    height: 1px;
    margin: 23px auto;
    background-color: lighten($text-color, 70%);
  }

.by-line {
  display: block;
  color: lighten($text-color, 25%);
  line-height: 1.5em; /* 24px/16px */
  margin-bottom: 1.5em; /* 24px/16px */
  font-weight: 200;
  @media (min-width: 940px) {
    display: block;
    color: lighten($text-color, 25%);
    line-height: 1.3334em; /* 24px/18px */
    margin-bottom: 1.3334em; /* 24px/18px */
    font-weight: 200;
  }
}

/* Set the vertical rhythm (and padding-left) for lists inside post content */

.content ul, .content ol {
  line-height: 1.5em; /* 24px/16px */
  padding-left: 1.5em;
  @media (min-width: 940px) {
    line-height: 1.33334em; /* 24px/18px */
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
  }

  code {
    color: lighten($text-color, 20%);
    background-color: darken($background-color, 5%);
    word-wrap: break-word;
  }
}

/* Pages */

#page ul, #page ol {
  padding-left: 1.5em;
}

/* Paginator */

.pagination {
  text-align: center;
  margin: 2.666668em;
  /* Current page and marker page (if required) */
  span {
    background-color: darken($background-color, 10%);
    color: $text-color;
  }
  /* Prev/next page and marker page (if required) */
  a {
    background-color: $main-color;
    color: $background-color;
    &:focus,
    &:hover {
      background-color: lighten($main-color, 10%);
    }
  }
}

.page-item {
  font-weight: 400;
  padding: 0.5em 1em;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
          border-radius: 4px;
}

/* Footer */

footer {
  background-color: $main-color;
  color: $background-color;
  text-align: center;
  padding: 0.6667em 0;
}
